PORT                  = 3001
EVOLUTION_API_URL     = http://localhost:8081
EVOLUTION_API_KEY     = tu-clave-API-super-secreta
EVOLUTION_INSTANCE    = Nombre_De_Instancia
WHATSAPP_GROUP_ID     = xxxxxxxxxxxxx@g.us
FITNESS_BACKEND_URL   = http://localhost:3000/api
FITNESS_BACKEND_TOKEN = easdasd....dasdasd